@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  /* overflow: hidden; */
  margin: 0;
  background-color: #272a45;
  color: white;
}

header {
  display: flex;

  justify-content: space-around;
  height: 20%;
}
p {
  font-size: 1.5rem;
}

.score-window {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 3%;
  min-width: 15%;
}

.score-heading {
  font-size: 2rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50%;
}

#intro-heading {
  margin: 20% 0;
}

.main-heading {
  font-size: 3rem;
  margin: 5% 0;
}

.play-btn {
  font-size: 1rem;
  background: #276d5f;
  color: white;
  border: none;
  padding: 0.7vw 0;
  min-width: 100px;
  width: 10%;
  border-radius: 5px;
  margin: 5% 0 0;
}

.hand-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

img {
  height: 30%;
  width: 30%;
  min-width: 80px;
  position: relative;
}

.animate-img {
  animation-name: up-down;
  animation-duration: 0.3s;
  animation-iteration-count: 3;
}

@keyframes up-down {
  0% {
    left: 0px;
    bottom: 0px;
  }
  50% {
    left: 0px;
    bottom: 50px;
  }
  100% {
    left: 0px;
    bottom: 0px;
  }
}

#player-hand {
  transform: scaleX(-1);
}

.btns-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.select-btn {
  margin: 5% 5% 0;
  background: #276d5f;
  color: white;
  border: none;
  min-width: 20%;
  padding: 0.7vw 0;
  font-size: 1rem;
  border-radius: 5px;
}

.select-btn:hover,
.play-btn:hover {
  background-color: #17a72f;
}
.select-btn:active,
.play-btn:active {
  transform: scale(98%);
}
